<%= form_for(@pedido, :html => { :class => "form-contato"}) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        Ocorreram <%= pluralize(@pedido.errors.count, "erro") %>
      </div>

      <div class="alert">
        <ul>
        <% @pedido.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="span4">
      <h1>Dados pessoais</h1>
      <%= f.fields_for :pessoa do |builder| %>
        <%= render 'pessoa_fields', f: builder %>
      <% end %>
    </div>
      
    <div class="span8">
      <h1>Cestas</h1>

      <%= f.fields_for :produtos do |builder| %>
        <%= render 'produto_fields', f: builder %>
      <% end %>
    </div>
    <div class="span10">
      <%= link_to_add_fields "Adicionar mais cestas", f, :produtos %>
    </div>
      <%= button_tag "Enviar", class: "btn btn-red span10", name: "commit" %>
  </div>
<% end %>
